<h1>
  <!-- <strong>Name:</strong> -->
  <strong id="artist_name"><%= @artist.name %></strong>
</h1>

<div class="artist_main_box">
    <img class="artist_img" src="<%= asset_path("#{@artist.picture}") %>">

    <div class="artist_desc">
        
        <div>
            <strong>Description:</strong> <br>
            <%= @artist.description %>
        <div> <br>

        <div class="desc_inner_box">
          
            <div class="coo">
              <strong>Country of Origin:</strong> <br>
              <%= @artist.country_of_origin %>
            </div>

            <table class="tiers_table">
                <tr>
                    <td><strong>Tier 1:</strong></td>
                    <td><strong>Tier 2:</strong></td>
                    <td><strong>Tier 3:</strong></td>
                </tr>
                <tr>
                    <td><%= @artist.tier_1 %></td>
                    <td><%= @artist.tier_2 %></td>
                    <td><%= @artist.tier_3 %></td>
                </tr>
            </table>

            <div class="following">
              <strong>Followers:</strong> <br>
              <%= @artist.followers %> <br>
            </div>
        </div>

        <div class="desc_buttons">
            <a class="follow_artist artists_buttons btn btn-lg btn-primary" id="artist_<%= @artist.name %>" href="/artists/<%=@artist.id%>/follow"><i class="fa fa-thumbs-o-up"></i>Follow</a>
            <a class="bring_artist artists_buttons btn btn-lg btn-success" href="/artists/<%=@artist.id%>/bring">Bring Them Over!</a>
        </div>
    </div>
</div>