<p id="notice"><%= notice %></p>

<div id="user_page">

    <div id="user_page_header"><span id="profile">Profile<span><%= link_to 'Edit', edit_user_path(@user), :class => "user_page_buttons user_page_fields", :id => "user_page_edit" %><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :id => "user_page_delete", :class => "user_page_buttons user_page_delete"  %></div>

    <img class="profile_img" src="<%= asset_path("#{@user.picture}") %>">
    
    <div id="user_page_main">
        <p class="user_page_fields">
          <strong class="user_page_labels">First name:</strong>
          <%= @user.first_name %>
        </p>

        <p class="user_page_fields">
          <strong class="user_page_labels">Last name:</strong>
          <%= @user.last_name %>
        </p>

        <p class="user_page_fields">
          <strong class="user_page_labels">Date of birth:</strong>
          <%= @user.date_of_birth %>
        </p>

        <p class="user_page_fields">
          <strong class="user_page_labels">Age:</strong>
          <%= @user.age %>
        </p>

        <p class="user_page_fields">
          <strong class="user_page_labels">Location:</strong>
          <%= @user.location %>
        </p>

        <p class="user_page_fields user_page_bio">
          <strong class="user_page_labels">Biography:</strong>
          <%= @user.biography %>
        </p>
        <br>
    </div>
</div>