<p id="notice"><%= notice %></p>

<p>
  <strong>Concert name:</strong>
  <%= @event.concert_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
